@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  background: #f9f9f9;
  min-height: height 100vh;
  overflow-x: hidden;
}

/******ABOUT******/



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/


.footer{
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: static;
  z-index: -100;
}